<!--<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Orly - Bootstrap Bienvenido</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="responsive.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<section class="banner" role="banner">
  <div class="banner-area">

    <div class="banner-area-gradient"></div>

    <div class="inner-bg">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="banner-text text-center"> <a class="logo" href="#">Pinterest</a>
            <h1>Bienvenido CR</h1>

            <div id="countdown"></div>

            <a href="#subscribes" class="btn">Notify me</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="jquery.backstretch.min.js"></script>
<script src="jquery.countdown.js"></script>
<script type="text/javascript" src="jquery.subscribe.js"></script>
<script src="main.js"></script> -->


<div class="jumbotron">
  <div class="container">
    <h1  class="titulos">Pinterest</h1>
    <h2 class="titulos">Reconoces una gran idea en cuanto la ves.</h2>
    <p class="lead">
      <a class="btn btn-danger " href="https://www.pinterest.com.mx/login/"> Únete a Pinterest</a>

      <span class="oi" data-glyph="check"></span>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="page-header"><h1>CONOCE</h1></div>
      <p>“Pinterest es el motor de descubrimiento visual. Nuestra misión consiste en ayudar a las personas a descubrir y hacer lo que les gusta.”</p>
      <img  src="https://3.bp.blogspot.com/--JTBSOWHjcA/VpW8siKcRlI/AAAAAAAAI88/R4BYwtI44vU/s1600/pinterest-social-media-icon.png" class="img-responsive">


    </div>

    <div class="col-md-4">
      <a style="display:inline"  href="https://newsroom.pinterest.com/es/post/las-100-ideas-pinterest-para-probar-en-el-2018" target="_blank">Las 100 ideas Pinterest para probar en el 2018</a>
      <span class="badge badge-secondary">New</span></h6>
      <p class="titulos">¡Los resultados están listos y tenemos mucho para esperar del 2018! Ruedas para yoga, cruceros fluviales y los “derma rollers” son solo algunas de las tendencias emergentes que entusiasman a los usuarios de Pinterest. Nuestro reporte sobre 100 ideas Pinterest lo tiene todo. Se trata de 100 predicciones de tendencias dentro de nuestras principales categorías respaldadas por datos globales. Cada categoría está llena de sorpresas que no te puedes perder, así que prepárate para hacer un lugar en tu corazón a tus próximos Pines favoritos.</p>
    </div>

    <div class="col-md-4">
      <h3>Blog.pinterest.com</h3>
      <p>San Francisco, California / Pinterest is full of possibilities to design your life. Discover recipes, style inspiration, projects for your home and other ideas to try.</p>


      <hr>

      <ul>
        <li>°Emprende en el mundo digital</li>
        <li>°Empieza desde cero</li>
        <li>°Ve la matrix</li>
      </ul>



    </div>
  </div>
</div>